html, body {
    width: 100%;
    min-height: 100%;
    font-family: "Arial";
    background-color: #e7e7dd;
    margin: 0px;
    padding: 0px;
}

.content {
    margin: 0px 30px;
}

h3 {
    color: #4b166e;
    font-weight: normal;
    text-align: center;
}

form {
    width: auto;
    display: block;
}

#answer-field {
    width: 100%;
    position: relative;
}

.column {
    position: relative;
    width: 48%;
    display: inline-block;
    padding: 5px 10px;
}

#logo {
    margin-left: 5px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 0px;
    background-color: #3a3a3a;
    margin: 5px;
    color: white;
    font-weight: bold;
    font-size: 10pt;
}

.btn:hover, .btn:hover > label {
    cursor: pointer;
}

.btn-toggable {
    display: none;
}

.btn-toggle {
    width: 45%;
    display: inline-block;
}

.btn-toggle:hover, .btn-toggle-selected {
    background-color: #85b140;
}

.centerer {
    margin-left: 50%;
    position: right;
}

.btn-submit {
    display: block;
    background-color: #4b166e;
    color: #f6b80d;
    margin: 0px auto;
    position: relative;
    left: -50%;
}

.login-form {
    display: block;
    margin: 0px auto;
    position: relative;
    left: -50%;
    text-align: center;
}